%button.btn.btn-large.btn-default#btnComeBack{ :type => "button", "ng-click" => "comeBack()" }
  %span.glyphicon.glyphicon-arrow-left.blue
  Back

%button.btn.btn-large.btn-default#btnSaveTest{ :type => "submit" }
  %span.glyphicon.glyphicon-floppy-save.blue
  Save

%button.btn.btn-large.btn-default#btnCreateQuestion{ :type => "button", "ng-click" => "addQuestion()" }
  %span.glyphicon.glyphicon-plus.blue
  Question
